In [2]:
import pandas as pd
import numpy as np

In [6]:
#a 2D array with 10 rows and 10 columns 

a_2d_array = np.random.rand(10,10)

## Creating the DataFrame Object from a 2d array

In [105]:
# Converting the 2D array to Pandas DataFrame

df = pd.DataFrame(a_2d_array)
df

,0,1,2,3,4,5,6,7,8,9
0,0.897938,0.643085,0.062950,0.707938,0.042789,0.920088,0.209260,0.189133,0.067644,0.868201
1,0.643372,0.458005,0.013728,0.369277,0.865750,0.433628,0.088999,0.901876,0.560395,0.609228
2,0.925694,0.665993,0.232635,0.714118,0.363137,0.471332,0.509875,0.030705,0.964312,0.600871
3,0.953080,0.274767,0.457401,0.030168,0.116701,0.924773,0.915862,0.392624,0.504241,0.360790
4,0.242092,0.770075,0.754021,0.068018,0.626738,0.847109,0.669570,0.606618,0.544091,0.500750
5,0.215957,0.929062,0.464812,0.221357,0.172127,0.274648,0.521478,0.111121,0.581713,0.905249
6,0.743628,0.207929,0.194909,0.089592,0.288020,0.575045,0.332538,0.583011,0.184755,0.696398
7,0.953191,0.285647,0.748530,0.598843,0.115872,0.553851,0.502587,0.843671,0.170844,0.892190
8,0.681291,0.492321,0.550677,0.828805,0.347905,0.240334,0.585800,0.402717,0.716631,0.737472
9,0.749778,0.818153,0.039627,0.371175,0.578461,0.223634,0.274815,0.861196,0.772177,0.108971

## Getting the details of the DataFrame Object

In [9]:
# Type of the DataFrame object

type(df)

pandas.core.frame.DataFrame

In [15]:
# Data Type of a DataFrame Object

df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [16]:
# Getting the Index

df.index

RangeIndex(start=0, stop=10, step=1)

In [106]:
# Changing the index

df.index = range(10,20)

In [17]:
# Getting the columns

df.columns

RangeIndex(start=0, stop=10, step=1)

In [108]:
# Changing the columns

df.columns = list('ABCDEFGHIJ')

In [113]:
# Getting first few rows

df.head(3) # Returns n rows if n is passed else prints first 5 rows

,A,B,C,D,E,F,G,H,I,J
10,0.897938,0.643085,0.062950,0.707938,0.042789,0.920088,0.209260,0.189133,0.067644,0.868201
11,0.643372,0.458005,0.013728,0.369277,0.865750,0.433628,0.088999,0.901876,0.560395,0.609228
12,0.925694,0.665993,0.232635,0.714118,0.363137,0.471332,0.509875,0.030705,0.964312,0.600871

In [114]:
# Getting last few rows

df.tail()

,A,B,C,D,E,F,G,H,I,J
15,0.215957,0.929062,0.464812,0.221357,0.172127,0.274648,0.521478,0.111121,0.581713,0.905249
16,0.743628,0.207929,0.194909,0.089592,0.288020,0.575045,0.332538,0.583011,0.184755,0.696398
17,0.953191,0.285647,0.748530,0.598843,0.115872,0.553851,0.502587,0.843671,0.170844,0.892190
18,0.681291,0.492321,0.550677,0.828805,0.347905,0.240334,0.585800,0.402717,0.716631,0.737472
19,0.749778,0.818153,0.039627,0.371175,0.578461,0.223634,0.274815,0.861196,0.772177,0.108971

In [31]:
# Getting the statistical information of the DataFrame

df.describe()

,A,B,C,D,E,F,G,H,I,J
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,0.700602,0.554504,0.351929,0.399929,0.351750,0.546444,0.461079,0.492267,0.506680,0.628012
std,0.272883,0.249529,0.282183,0.297010,0.265419,0.271655,0.241909,0.319172,0.287342,0.253661
min,0.215957,0.207929,0.013728,0.030168,0.042789,0.223634,0.088999,0.030705,0.067644,0.108971
25%,0.652852,0.328736,0.095940,0.122533,0.130557,0.314393,0.289246,0.240006,0.264626,0.525780
50%,0.746703,0.567703,0.345018,0.370226,0.317963,0.512592,0.506231,0.492864,0.552243,0.652813
75%,0.918755,0.744054,0.529210,0.680665,0.524630,0.779093,0.569720,0.784408,0.682901,0.835519
max,0.953191,0.929062,0.754021,0.828805,0.865750,0.924773,0.915862,0.901876,0.964312,0.905249

In [32]:
# Getting short info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 10 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
 4   E       10 non-null     float64
 5   F       10 non-null     float64
 6   G       10 non-null     float64
 7   H       10 non-null     float64
 8   I       10 non-null     float64
 9   J       10 non-null     float64
dtypes: float64(10)
memory usage: 932.0 bytes

In [115]:
# Getting the counts of non-NA values for each row

df.count()

A    10
B    10
C    10
D    10
E    10
F    10
G    10
H    10
I    10
J    10
dtype: int64

In [116]:
# Getting the counts of non-NA values for each COLUMN

df.count(axis=1)

10    10
11    10
12    10
13    10
14    10
15    10
16    10
17    10
18    10
19    10
dtype: int64

# Accessing Values of the DataFrame Object

In [24]:
# Accessing entire column

print('column 1\n', df[0])
print()
print('column 2\n', df[2])

column 1
 0    0.897938
1    0.643372
2    0.925694
3    0.953080
4    0.242092
5    0.215957
6    0.743628
7    0.953191
8    0.681291
9    0.749778
Name: 0, dtype: float64

column 2
 0    0.062950
1    0.013728
2    0.232635
3    0.457401
4    0.754021
5    0.464812
6    0.194909
7    0.748530
8    0.550677
9    0.039627
Name: 2, dtype: float64

In [39]:
# Accessing a single row by index name 

df.loc[10]

A    0.897938
B    0.643085
C    0.062950
D    0.707938
E    0.042789
F    0.920088
G    0.209260
H    0.189133
I    0.067644
J    0.868201
Name: 10, dtype: float64

In [54]:
# Accessing a single by index

print(df.iloc[0],end="\n")
print()
print(df.loc[12,:])

A    0.897938
B    0.643085
C    0.062950
D    0.707938
E    0.042789
F    0.920088
G    0.209260
H    0.189133
I    0.067644
J    0.868201
Name: 10, dtype: float64

A    0.925694
B    0.665993
C    0.232635
D    0.714118
E    0.363137
F    0.471332
G    0.509875
H    0.030705
I    0.964312
J    0.600871
Name: 12, dtype: float64

In [109]:
# Accessing only the required cells

print(df.loc[13,["A","C"]])

A    0.953080
C    0.457401
Name: 13, dtype: float64

In [68]:
# Accessing a particular value

print(df.loc[10,'A'],     \
      df.at[10,'A']       , sep="\n")

0.8979382796136137
0.8979382796136137

# DELETING ROWS & COLUMNS

In [71]:
# Deleting a column

df.drop('J', axis=1)

,A,B,C,D,E,F,G,H,I
10,0.897938,0.643085,0.062950,0.707938,0.042789,0.920088,0.209260,0.189133,0.067644
11,0.643372,0.458005,0.013728,0.369277,0.865750,0.433628,0.088999,0.901876,0.560395
12,0.925694,0.665993,0.232635,0.714118,0.363137,0.471332,0.509875,0.030705,0.964312
13,0.953080,0.274767,0.457401,0.030168,0.116701,0.924773,0.915862,0.392624,0.504241
14,0.242092,0.770075,0.754021,0.068018,0.626738,0.847109,0.669570,0.606618,0.544091
15,0.215957,0.929062,0.464812,0.221357,0.172127,0.274648,0.521478,0.111121,0.581713
16,0.743628,0.207929,0.194909,0.089592,0.288020,0.575045,0.332538,0.583011,0.184755
17,0.953191,0.285647,0.748530,0.598843,0.115872,0.553851,0.502587,0.843671,0.170844
18,0.681291,0.492321,0.550677,0.828805,0.347905,0.240334,0.585800,0.402717,0.716631
19,0.749778,0.818153,0.039627,0.371175,0.578461,0.223634,0.274815,0.861196,0.772177

In [86]:
# Deleting the first row (in this case with index 10)

df.drop(10)

,A,B,C,D,E,F,G,H,I,J
11,0.643372,0.458005,0.013728,0.369277,0.865750,0.433628,0.088999,0.901876,0.560395,0.609228
12,0.925694,0.665993,0.232635,0.714118,0.363137,0.471332,0.509875,0.030705,0.964312,0.600871
13,0.953080,0.274767,0.457401,0.030168,0.116701,0.924773,0.915862,0.392624,0.504241,0.360790
14,0.242092,0.770075,0.754021,0.068018,0.626738,0.847109,0.669570,0.606618,0.544091,0.500750
15,0.215957,0.929062,0.464812,0.221357,0.172127,0.274648,0.521478,0.111121,0.581713,0.905249
16,0.743628,0.207929,0.194909,0.089592,0.288020,0.575045,0.332538,0.583011,0.184755,0.696398
17,0.953191,0.285647,0.748530,0.598843,0.115872,0.553851,0.502587,0.843671,0.170844,0.892190
18,0.681291,0.492321,0.550677,0.828805,0.347905,0.240334,0.585800,0.402717,0.716631,0.737472
19,0.749778,0.818153,0.039627,0.371175,0.578461,0.223634,0.274815,0.861196,0.772177,0.108971




# Statistical operations

## Mean

In [74]:
df.mean()

A    0.700602
B    0.554504
C    0.351929
D    0.399929
E    0.351750
F    0.546444
G    0.461079
H    0.492267
I    0.506680
J    0.628012
dtype: float64

## Median

In [76]:
df.median()

A    0.746703
B    0.567703
C    0.345018
D    0.370226
E    0.317963
F    0.512592
G    0.506231
H    0.492864
I    0.552243
J    0.652813
dtype: float64

## Mode

In [77]:
df.mode()

,A,B,C,D,E,F,G,H,I,J
0,0.215957,0.207929,0.013728,0.030168,0.042789,0.223634,0.088999,0.030705,0.067644,0.108971
1,0.242092,0.274767,0.039627,0.068018,0.115872,0.240334,0.209260,0.111121,0.170844,0.360790
2,0.643372,0.285647,0.062950,0.089592,0.116701,0.274648,0.274815,0.189133,0.184755,0.500750
3,0.681291,0.458005,0.194909,0.221357,0.172127,0.433628,0.332538,0.392624,0.504241,0.600871
4,0.743628,0.492321,0.232635,0.369277,0.288020,0.471332,0.502587,0.402717,0.544091,0.609228
5,0.749778,0.643085,0.457401,0.371175,0.347905,0.553851,0.509875,0.583011,0.560395,0.696398
6,0.897938,0.665993,0.464812,0.598843,0.363137,0.575045,0.521478,0.606618,0.581713,0.737472
7,0.925694,0.770075,0.550677,0.707938,0.578461,0.847109,0.585800,0.843671,0.716631,0.868201
8,0.953080,0.818153,0.748530,0.714118,0.626738,0.920088,0.669570,0.861196,0.772177,0.892190
9,0.953191,0.929062,0.754021,0.828805,0.865750,0.924773,0.915862,0.901876,0.964312,0.905249

## Variance

In [79]:
df.var()

A    0.074465
B    0.062265
C    0.079627
D    0.088215
E    0.070447
F    0.073796
G    0.058520
H    0.101870
I    0.082566
J    0.064344
dtype: float64

## Standard Deviation (SD)

In [84]:
print('Standard Deviation by rows\n', df.std())
print('\nStandard Deviation by cols\n', df.std(axis=1))

Standard Deviation by rows
 A    0.272883
B    0.249529
C    0.282183
D    0.297010
E    0.265419
F    0.271655
G    0.241909
H    0.319172
I    0.287342
J    0.253661
dtype: float64

Standard Deviation by cols
 10    0.378151
11    0.290544
12    0.292278
13    0.334880
14    0.242586
15    0.295942
16    0.237512
17    0.299878
18    0.188625
19    0.312474
dtype: float64